{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'C/D Code', {flex:10}) }}
{{ fo.input('row.tradingOrder.code', 'Order Code', {flex:10}) }}
{{ fo.input('row.purchaseOrder.code', 'P/O Code', {flex:10}) }}
{{ fo.input('row.company.code', 'A/C Code', {flex:10}) }}
{{ fo.input('row.company.name', 'A/C Name', {flex:30}) }}
{{ fo.input('row.company.category', 'A/C Category', {flex:10}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'CreditDebitNoteBundle:CreditDebitNote:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
