.dashboard-container {
    margin: 0 300px;
    align-items: center;
    height: 80%;
    .search {
        md-input-container {
            margin: 0 15px;
            input {
                height: 35px;
            }
            label, span {
                font-size: 22px;
                font-weight: normal !important;
                color: #aaa !important;
            }
        }
        color: #333;
    }
    .navs {
        margin-top: 20px;
        button {
            width: 190px;
            height: 80px;
            md-icon {
                display: block;
            }
            text-align: center;
        }
    }
}
