md-input-container {
    margin: 10px 7px 10px 0;
    padding: 2px !important;
    label {
        margin-bottom: 0;
    }
    .md-errors-spacer {
        display: none; //temporarily hide this as I am not aware of the use
    }
    input {
        &[readonly] {
            border: none;
        }
        &.has-detail-link {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    md-switch {
        margin: 0;
    }


}

md-autocomplete {
    padding: 2px !important;
}

.barcode-container {
    padding: 0;
    margin: 0 0 10px;
    label {
        transform: translate3d(0,6px,0) scale(.75);
    }
    .barcode {
        order: 2;
        display: block;
        margin-top: 0;
        background: 0 0;
        padding: 2px 2px 1px;
        line-height: 26px;
        height: 30px;
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
        float: left;

        img {
            display: block;
            width: 220px;
            height: 30px;
            border: 0px solid red;
        }
    }
}

.v-detail {
    input {
        border: none;
    }
}

.tab-content.main {
    max-width: 70% !important;
}

.md-datepicker-container {
    padding: 0;
    label {
        color: rgba(0,0,0,0.26);
    }
}

md-datepicker {
    padding: 0 !important;
    button.md-datepicker-button {
        margin: 0 !important;
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
    }
}

md-toolbar {
    min-height: 50px;
    .md-toolbar-tools {
        height: 50px;
        font-size: 18px;
    }
}

// .flds-container {
//     max-width: 70% !important;
//     padding: 0 !important;
//     md-toolbar {
//         padding: 0;
//         background-color: #aaa !important;
//         height: 30px !important;
//         min-height: 30px !important;
//         h2 {
//             color: #000;
//             font-size: 14px;
//             font-weight: bold;
//         }
//         .md-toolbar-tools {
//             min-height: 30px !important;
//             height: 30px !important;
//         }
//     }

// }

.flds-group-header {
    margin: 10px 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    .title {
        background: #eee;
        flex: 0 0 auto;
        border: 1px solid #ccc;
        h2 {
            margin: 5px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .hr {
        flex: 1 1 100%;
        hr {
            margin: 12px 0;
        }
    }
    .arrow {
        flex: 1 1 40px;
        md-icon {
            cursor: pointer;
        }
    }
}

.md-button {
    &.md-small {
        height: 25px;
        line-height: 25px;
        min-height: 30px;
        font-size: 14px;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
    }
}