.b-auth-login {
    background: #1c5598 url("../img/login-bg.jpg") repeat-x scroll 0 0;
    .logo {
        padding: 15px;
    }
    .page-wrapper {
        margin: 20px auto;
        background: transparent;
    }
    .form-container {
        margin: 10px auto;
        max-width: 380px;
    }

    .form-horizontal .form-group {
        margin-left: 10px;
        margin-right: 10px;
    }

    md-input-container {
        width: 88%;

        .md-input,
        .md-checkbox {
            border-color: #aaa;
            margin-left: 30px;
        }
    }
    form fieldset {
        margin-top: 20px;
    }
    button {
        width: 100%;
        margin: .3em 0 0.3em 0;

    }

}
