[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.work-in-progress {
    h1 {
        text-align: center;
        margin-top: 70px;
        font-size: 25px;
    }
    h2 {
        text-align: center;
        font-size: 20px;
    }
    md-icon {
        width: 60px;
        height: 60px;
    }
}

.page-loading {
    align-items: center;
    height: 100%;
    h2 {
        text-align: center;
        font-size: 20px;
    }
}

.work-in-progress {
    h1 {
        text-align: center;
        margin-top: 70px;
        font-size: 25px;
    }
    h2 {
        text-align: center;
        font-size: 20px;
    }
    md-icon {
        width: 60px;
        height: 60px;
    }
}

.template-not-found {
  @extend .work-in-progress;
    h1 {
        margin-top: 30px;
    }
}

.gantt-container {
    h3 {
        padding: 0;
        margin: 0.7em 0;
    }
    button {
        margin-left: -10px;
        padding-left: 0;
    }
    .gantt-flds {
        label {
            display: block;
        }
    }
    .gantt-side {
        min-width: 130px;
    }

    .gantt-task {
        box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
        border-radius: 10px;
        overflow: hidden;
        .gantt-task-content {
            color: #ddd;
            span span {
                line-height: 30px;
            }
        }
        .gantt-task-background {
            background-color: #1976d2;
        }
    }
}