[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navigation-group {
     font-size: 15px;
}

md-toolbar .md-toolbar-tools {
    justify-content: space-between;
}
