.ta-hidden-input {
    display: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    overflow: hidden;
    background-color: transparent;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: $color--text;
    background: $color--background url('../img/page-bg.jpg');
    background-position: center;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow: hidden;
}

::selection {
    background: $color--primary;
    color: #fff;
}

::-moz-selection {
    background: $color--primary;
    color: #fff;
}

.no-border {
    border: 0;
}

.page-main-header {
    padding: 20px;
    border-bottom: 1px solid #E5E5E5;
    display: none;

    h4 {
        margin-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 480px) {
    .page-main-header .text-right {
        text-align: left;
    }

    .page-main-header .col-sm-6 .col-sm-6 {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 10px;
    }
}

.non-display {
    display: none;
}

.page-wrapper {
    max-width: 1400px;
    margin: auto;
    position: relative;
    min-height: 99%;
    background-color: #fff;
}

.page {
    padding: 15px 10px 0;
    background-color: darken($color--background, 2%);
}

.view-containter {
    position: relative;
}

#content {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 150px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

@media (min-width: 768px) {
    #content {
        top: 30px;
        width: auto;
    }
}

