@import "vars.scss";
@import "helpers.scss";
@import "typography.scss";
@import "top-header.scss";
@import "page.scss";
@import "util.scss";
@import "dashboard.scss";
@import "form.scss";
@import "login.scss";
@import "misc.scss";
@import "main-nav.scss";

.pointer {
    cursor: pointer;
}

md-content.md-content__body {
  padding:10px;
}

.nav-style--alternative #nav {
    > li {
        > a {
            padding: 15px 15px 15px 15px !important;
            > md-icon {
                width: 20px;
                height: 20px;
                margin: 0;
                margin-right: 10px;
            }
            span {
                vertical-align: middle;
            }
            &:active {
                text-decoration: none !important;
            }
            &:visited {
                text-decoration: none !important;
            }
        }
        &.active > a {
            background: #222;
        }

        //sub menu
        ul {
            li.active a {
                background: #1976d2;
            }

        }
    }
    a {
        color: #aaa;
    }
}

.panel .panel-heading {
    background: #0071B8 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.cp-room-title {
    md-icon {
        margin-right: 15px;
        height: 30px;
        width: 30px;
    }
}

dir-pagination-controls {
    font-size: 14px;
    align-items: center;
    div {
        margin-right: 15px;
    }
}

.v-list {
    tbody td {
        &.icon-edit, &.icon-flag {
            width: 50px;
        }
    }
}

.search-header {
    justify-content: flex-end;
    align-items: stretch;

    //list page
    md-input-container.search-box {
        max-width: 100%;
        flex-grow: 1;
    }

    //detail page
    .cp-back-to-list {
        max-width: 100%;
        flex-grow: 1;
        md-icon {
            width: 50px;
            height: 50px;
        }
    }

    .cp-act-btns {
        .md-button md-icon {
            margin-right: 5px;
        }
    }
}

.key-details-top {
    background: #eee;
    margin-bottom: 15px;
    padding: 8px 8px 0 8px;
    md-input-container {
        // border: 1px solid red;
    }
}

.detail-content {
    justify-content: flex-end;
    align-items: stretch;
    min-height: 500px;
    max-width: 100%;
    border: 1px solid #ccc;

    .cp-act-btns-link {
        text-align: right;
        margin: 0;
        padding: 0;
        .md-button {
            margin: 0;
        }
    }

    .link-tabs {
        min-width: 250px;
        padding: 0;
        cursor: pointer;
        a {
            padding: 5px 0;
            // border: 1px solid green;
        }
        .current {
            background: $color--accent;
            md-icon {
                fill: #fff;
            }
            a {
                color: $color--text-accent;
                font-weight: bold;
            }
        }
        .disabled {
            a {
                color: #ccc;
            }
            md-icon {
                fill: #ccc;
            }
        }
        md-list-item {
            min-height: 40px !important;
            & > md-icon {
                margin: 5px 15px  5px 0 !important;
            }
        }
    }

    .cp-link-container {
        padding: 0;
        .md-table {
            tbody td {
                &.icon-edit, &.icon-delete {
                    width: 1px;
                    padding-right: 24px !important;
                    // border: 1px solid red;
                }
            }

            md-select {
                margin: 0;
            }
        }
        .md-table-pagination {
            .label {
                color: #888;
                font-size: 10px;
            }
        }
        .cp-act-btns-media .md-button {
            margin: 0;
        }
        .cp-media-image {
            border: 1px solid #ccc;
            border-radius: 5px;

            md-list-item {
                .md-list-item-text {
                    cursor: default;
                }
                .thumb-img {
                    width: 80px;
                    height: 80px;
                }
                h3 {
                    font-size: 17px;
                    margin: 5px 0 10px;
                }
                h4 {
                    font-size: 12px;
                    font-style: italic;
                    border: 0;
                    margin: 5px 0;
                    padding: 0;
                }
                h5 {
                    font-size: 12px;
                    font-style: italic;
                    border: 0;
                    margin: 5px 0;
                }
                md-icon.first {
                    margin-right: 30px;
                }
            }


        }
    }
}

.link-edit-dialog {
    width: 600px;

}

#pagination-link {
    ul {
        margin: 0;
    }
}

#loading-bar {
    .peg {
        -moz-box-shadow: $color--progress-bar 1px 0 6px 1px;
        -ms-box-shadow: $color--progress-bar 1px 0 6px 1px;
        -webkit-box-shadow: $color--progress-bar 1px 0 6px 1px;
        box-shadow: $color--progress-bar 1px 0 6px 1px;
    }

    .bar {
        background: $color--progress-bar;
    }
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  $color--progress-bar !important;
    border-left-color: $color--progress-bar !important;
}