.col-left {
    text-align: left;
}

.col-center {
    text-align: center;
}

.col-right {
    text-align: right;
}

.p0 {padding: 0 !important;}
.pl0 {padding-left: 0 !important;}

.m0 {margin: 0 !important;}
.mb10 {margin-bottom: 10px !important;}
.mt10 {margin-top: 10px !important;}

.w5 {width: 5px !important;}
.w10 {width: 10px !important;}
.w15 {width: 15px !important;}
.w20 {width: 20px !important;}
.w25 {width: 25px !important;}
.w30 {width: 30px !important;}
.w35 {width: 35px !important;}
.w40 {width: 40px !important;}
.w45 {width: 45px !important;}
.w50 {width: 50px !important;}
.w55 {width: 55px !important;}

.w5pc {width: 5% !important;}
.w10pc {width: 10% !important;}
.w15pc {width: 15% !important;}
.w20pc {width: 20% !important;}
.w25pc {width: 25% !important;}
.w30pc {width: 30% !important;}
.w35pc {width: 35% !important;}
.w40pc {width: 40% !important;}
.w45pc {width: 45% !important;}
.w50pc {width: 50% !important;}
.w55pc {width: 55% !important;}
.w60pc {width: 60% !important;}
.w65pc {width: 65% !important;}
.w70pc {width: 70% !important;}

