/*Default style*/

$color--success: #43A047;
$color--info: #619bf2;
$color--warning: #F2B53F;
$color--danger: #C62828;
$color--info-alt: #a31356;

$color--primary: #1976D2;
$color--accent: #AD1457;
$color--warn: #F44336;

$color--gray-light: #dedede;
$color--gray-dark: #333;
$color--breadcrumbs: #EAEAEA;
$color--background: #F5F5F5;
$color--brown: #503f3c;
$color--text: #757575;

$color--text-accent: #ffffff;
$color--progress-bar: rgb(245,0,87);

$color--background: #F5F5F5;
// $color--background: #fff;

$navigation_color:#424242;

$navigation__link-color:$color--text;
$navigation__link-color--hover:#ffffff;
