{% import 'form-obj.html.twig' as fo %}

{{ fo.autocompleteDb('row.company.name', 'Company',
    {flex: 10, entity: 'company', dispValue: 'name'})
}}

{{ fo.input('row.position') }}
{{ fo.input('row.address') }}
{{ fo.input('row.city') }}
{{ fo.input('row.state') }}
{{ fo.input('row.zip') }}
{{ fo.input('row.country') }}
{{ fo.input('row.fax') }}

{{ fo.fldsOtherDetails()}}