{% import 'form-obj.html.twig' as fo %}

<div class="gantt-container">
    <h3>Milestones / Dates</h3>
    <div layout="row" class="gantt-flds mb10">
        <md-button class="md-hue-2"
            ng-click="gus.newGanttRow($event, {scope: scope, ganttName: 'contact'})">
            <md-icon class="md-primary"
                md-svg-src="../img/icons/actBtns/new.svg"></md-icon>
            New Row
        </md-button>

        {{ fo.date('row.ganttStartDate', {flex: 0}) }}
        {{ fo.date('row.ganttEndDate', {flex: 0}) }}
    </div>

    <div gantt options="ganttOptions" data="ganttData">
        <gantt-table></gantt-table>
        <gantt-tooltips></gantt-tooltips>
        <gantt-bounds></gantt-bounds>
        <gantt-progress></gantt-progress>
        <gantt-sortable></gantt-sortable>
        <gantt-movable enabled="true"></gantt-movable>
        <gantt-draw-task
            enabled="true"
            move-threshold="2"
            task-factory="gus.drawTaskFactory">
        </gantt-draw-task>
        <gantt-overlap></gantt-overlap>
        <gantt-dependencies enabled="true" read-only="false"></gantt-dependencies>
        {# <gantt-resize-sensor></gantt-resize-sensor> #}
    </div>
</div>
