{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.select('row.valuelistName', {
        flex: 30,
        valuelist: 'gCfg.vls.valuelistNames',
        hasKeyVal: true,
        valueFld: 'key',
        displayFld: 'value',
        focus: true
    }) }}
    {{ fo.input('row.value', {flex: 30}) }}
    {{ fo.input('row.code', {flex: 10}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ValuelistBundle:Valuelist:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
