{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', {flex:15}) }}
{{ fo.input('row.subject', {flex:70, focus: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'MessageBundle:Message:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
