{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.enquiry') }}
{{ fo.input('row.address') }}
{{ fo.input('row.city') }}
{{ fo.input('row.state') }}
{{ fo.input('row.zip') }}
{{ fo.input('row.country') }}
{{ fo.input('row.fax') }}
{{ fo.input('row.website') }}
{{ fo.input('row.addressDelivery', 'Delivery Address') }}

{{ fo.input('row.paymentTerms') }}
{{ fo.input('row.deliveryTerms') }}
{{ fo.input('row.portOfDelivery') }}

{{ fo.fldsOtherDetails()}}
