{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.specification') }}
{{ fo.input('row.enquiry.code', 'Enquiry Code') }}
{{ fo.input('row.clientOrderRef') }}
{{ fo.input('row.deliveryTerms') }}
{{ fo.input('row.paymentTerms') }}
{{ fo.input('row.expectedDateDeparture', 'Expected Date of Departure') }}
{{ fo.input('row.expectedDateArrival', 'Expected Date of Arrival') }}
{{ fo.input('row.shippingMedium') }}
{{ fo.input('row.portOfDelivery') }}
{{ fo.input('row.finalDestination') }}
{{ fo.input('row.warrantyAndClaims') }}
{{ fo.input('row.notes') }}
{{ fo.input('row.status') }}

{{ fo.fldsOtherDetails()}}
