{%  extends 'tpl/list-link.html.twig' %}

{% block act_btns %}
    <div class="cp-act-btns-link">
        <md-button class="md-accent"
            ng-show="currView == 'edit'"
             ng-click="createNewProtoType(row.id)">
            <md-icon class="md-primary"
                md-svg-src="img/icons/actBtns/links/new.svg"></md-icon>
                 New Proto Type
        </md-button>
    </div>
{% endblock %} {# act_btns #}

