<!DOCTYPE html>
<html>
    <head>
        <base href="{{ path('home') }}" />
        <meta charset="UTF-8" />
        <title>{% block title %}Libra System{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--
         <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400'
              rel='stylesheet' type='text/css'>
        -->
        <!-- Include Jquery in the vendor folder -->
        <link rel="stylesheet" href="../css/vendors.css">
        <link rel="stylesheet" href="../css/app.css">
            <script>
            var cpSym = {};
            {% if not app.user is null %}
                cpSym.user = {
                    firstName: "{{app.user.getFirstName()}}",
                    lastName: "{{app.user.getLastName()}}",
                    email: "{{app.user.getEmail()}}",
                    {# // avatarUrl: "{{app.user.mediaHistory[0].media.getFileName()}}" #}
                }
            {% endif %}
            </script>
    </head>
    {% verbatim %}
    <body ng-controller="AppController" class="m-{{ currBundle }} v-{{ currView }}">
    {% endverbatim %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- dependencies -->
        <script src="../js/vendors.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>
