{# ------------------ input ------------------ #}
{% macro input(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.media.displayTitle"  then it returns displayTitle (last index) #}
    {% set fldName = modelName | split('.') | slice(-1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        label: labelX,
        flex: 70,
        editable: editable,
        focus: false,
        hasDetailLink: false,
        linkBundle: '',
        linkId: '',
    } | merge(opts) %}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}

    {% set linkId = "row." ~ o.linkId %}
    {% set inputClass = o.hasDetailLink ? "has-detail-link" : "" %}
    {% set inputClick = o.hasDetailLink ?
        "ng-click=\"ns.gotoDetail($event, " ~ linkId ~ ", '" ~ o.linkBundle ~ "')\""
        : "" %}

    <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
        <label class="{{fldName}}">{{o.label}} </label>
        <input name="{{fldName}}" id="{{fldName}}"
            ng-model="{{modelName}}"{{readonly | raw }} {{focusMe | raw}}
            class="{{inputClass}}"
            {{inputClick | raw }}>
    </md-input-container>
{% endmacro %}

{# ------------------ textarea ------------------ #}
{% macro textarea(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.media.displayTitle"  then it returns displayTitle (last index) #}
    {% set fldName = modelName | split('.') | slice(-1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        label: labelX,
        flex: 70,
        editable: editable,
        rows: 5,
        focus: false,
    } | merge(opts) %}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}

    <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
        <label class="{{fldName}}">{{o.label}}</label>
        <textarea name="{{fldName}}" id="{{fldName}}"
            rows="10"
            ng-model="{{modelName}}"{{readonly | raw }} {{focusMe | raw}}></textarea>
    </md-input-container>
{% endmacro %}

{# ------------------ switch ------------------ #}
{% macro switch(modelName, label, opts = {}) %}
    {% set editable    = cpView == 'detail' ? false : true %}
    {% set disabledTxt = cpView == 'detail' ? "true" : "false" %}

    {# if modelName = "row.media.displayTitle"  then it returns displayTitle (last index) #}
    {% set fldName = modelName | split('.') | slice(-1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        label: labelX,
        flex: 70,
        editable: editable,
       } | merge(opts)
    %}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}

    <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
        <md-switch
        ng-model="{{modelName}}"
        ng-true-value="1"
        ng-false-value="0"
        >{{o.label}}</md-switch>
    </md-input-container>
{% endmacro %}

{# ------------------ select ------------------ #}
{% macro select(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.title"  then it returns title #}
    {% set fldName = modelName | split('.') | slice(1, 1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {# if the select is coming from the valuelist module then if we specify the code fields #}
    {# it will auto update the code field in the current record #}
    {% set o = {
        label: labelX,
        valuelist: null,
        flex: 70,
        editable: editable,
        hasKeyVal: false,
        valueFld: null,
        displayFld: null,
        focus: false,
        codeFldName: null,
        vlCodeFldName: null,
        callbackOnChange: null,
        modelNameReadOnly: null,
       } | merge(opts)
    %}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set displayFld = o.displayFld == null ? o.valueFld : o.displayFld %}
    {% set o = o | merge({displayFld: o.displayFld == null ? o.valueFld : o.displayFld}) %}

    {% set valueFldText   = "rowVL." ~ o.valueFld %}
    {% set displayFldText = "{{rowVL." ~ o.displayFld ~ "}}" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}
    {% set callbackOnChange = o.callbackOnChange != '' ? o.callbackOnChange ~ "();" : '' %}

    {% set modelNameReadOnly = o.modelNameReadOnly != '' ? o.modelNameReadOnly : modelName %}


    {% set ngChange = "" %}
    {% if o.codeFldName %}
        {% set ngChange = "fou.setSelectedCodeFldFromVL(row, " ~
            o.valuelist ~ ", '" ~
            fldName ~ "', '" ~
            o.codeFldName ~ "', '" ~
            o.vlCodeFldName ~ "', '" ~
            o.valueFld ~ "');"
        %}
    {% endif %}

    {% set arrToKeyData = o.valuelist %}

    {% if o.editable %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label>{{o.label}}</label>
            <md-select id="{{fldName}}"
                ng-change="{{ngChange | raw}} {{callbackOnChange | raw}}"
                ng-model="{{modelName}}" {{readonly | raw }} {{focusMe | raw}}>
                {% if o.hasKeyVal %}
                    <md-option ng-repeat="(val, rowVL) in {{o.valuelist}}"
                        ng-selected="{{valueFldText}} == {{ modelName }}"
                        ng-value="{{valueFldText}}">{{displayFldText | raw}}</md-option>
                {% else %}
                    <md-option ng-repeat="value in {{o.valuelist}}"
                        ng-selected="value == {{ modelName }}"
                        ng-value="value">{% verbatim %}{{value}}{% endverbatim %}</md-option>
                {% endif %}
            </md-select>
        </md-input-container>
    {% else %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label class="{{fldName}}">{{o.label}}</label>
            <input name="{{fldName}}" id="{{fldName}}"
                ng-model="{{modelNameReadOnly}}"{{readonly | raw }}
                arr-key-to-value="{{arrToKeyData}}">
        </md-input-container>
    {% endif %}
{% endmacro %}

{# ------------------ selectDb ------------------ #}
{% macro selectDb(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.title"  then it returns title #}
    {% set fldName = modelName | split('.') | slice(1, 1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        label: labelX,
        rowsVL: null,
        dispValue: null,
        entity: null,
        flex: 70,
        editable: editable,
        focus: false,
       } | merge(opts)
    %}

    {% set rowsVL = (o.rowsVL == '') ? "vls." ~ o.entity : "" %}
    {% set o = o | merge({rowsVL: rowsVL}) %} {# this is like set o.rowsVL = rowsVL #}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}

    {% if o.editable %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label>{{label}}</label>
            <md-select id="{{fldName}}"
                ng-model="{{modelName}}" {{focusMe | raw}}>
                <md-option ng-repeat="rowVL in {{o.rowsVL}}"
                        ng-selected="rowVL.id == row.{{o.entity}}.id"
                        ng-click="row.{{o.entity}} = rowVL"
                        ng-bind="rowVL.{{o.dispValue}}"></md-option>
            </md-select>
        </md-input-container>
    {% else %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label class="{{fldName}}">{{label}}</label>
            <input name="{{fldName}}" id="{{fldName}}"
                ng-model="{{modelName}}"{{readonly | raw }}>
        </md-input-container>
    {% endif %}
{% endmacro %}

{# ------------------ autocompleteDb ------------------ #}
{% macro autocompleteDb(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.title"  then it returns title #}
    {% set fldName = modelName | split('.') | slice(1, 1)[0] %}
    {% set fldNameTC = fldName | title %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {# hasSubVL: if this is a main VL and has a sub VL ex: Company > Contacts #}
    {% set o = {
        label: labelX,
        rowsVL: null,
        dispValue: null,
        entity: null,
        flex: 70,
        editable: editable,
        hasSubVL: false,
        subVLEntity: '',
        callbackOnChange: '',
        focus: false,
    } | merge(opts) %}

    {% set rowsVL = (o.rowsVL == '') ? "vls." ~ o.entity : "" %}
    {% set o = o | merge({rowsVL: rowsVL}) %} {# this is like set o.rowsVL = rowsVL #}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}

    {% set highlightTxt = "{{rowVL." ~ o.dispValue ~ "}}" %}
    {% set callbackOnChange = o.callbackOnChange != '' ? o.callbackOnChange ~ "();" : '' %}
    {# if this main VL has a Sub VL connected and no callback specified then use the default callback #}
    {% if o.hasSubVL and callbackOnChange == '' %}
        {% set callbackOnChange = "fou.getSubVL('" ~ o.subVLEntity ~ "', row, '" ~ fldName ~ "');" %}
    {% endif %}

    {% if o.editable %}
        <md-autocomplete
            class="fld-{{fldName}}"{{flex | raw}}
            ng-model-options="{debounce: 100}"
            md-selected-item="row.{{o.entity}}"
            md-selected-item-change="{{callbackOnChange | raw}}"
            md-search-text="{{fldName}}Search"
            md-items="rowVL in fou.filterAutoComplete({{o.rowsVL}}, {{fldName}}Search, '{{o.dispValue}}')"
            md-item-text="rowVL.{{o.dispValue}}"
            md-floating-label="{{o.label}}"
            {{focusMe | raw}}>
            <md-item-template>
                <span md-highlight-text="{{fldName}}Search">{{highlightTxt}}</span>
            </md-item-template>
        </md-autocomplete>
    {% else %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label class="{{fldName}}">{{o.label}}</label>
            <input name="{{fldName}}" id="{{fldName}}"
                ng-model="{{modelName}}"{{readonly | raw }}>
        </md-input-container>
    {% endif %}
{% endmacro %}

{# ------------------ date ------------------ #}
{% macro date(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.title"  then it returns title #}
    {% set fldName = modelName | split('.') | slice(1, 1)[0] %}
    {% set fldNameTC = fldName | title %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        flex: 70,
        editable: editable,
        hasTime: false,
        label: labelX,
        focus: false,
    } | merge(opts) %}

    {# if modelName = "row.title"  then it returns title #}
    {% set fldName = modelName | split('.') | slice(1, 1)[0] %}
    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set dateFormat = o.hasTime ? "{{gCfg.dateFormatTime}}" : "{{gCfg.dateFormat}}" %}
    {% set focusMe = o.focus ? "focus-me='true'" : "" %}

    {% if o.editable %}
        <div class="fld-{{fldName}} md-datepicker-container"{{flex | raw}}>
            <label class="{{fldName}}">{{o.label}}</label>
            <md-datepicker ng-model="{{modelName}}" class="fld-{{fldName}}"{{flex | raw}} {{focusMe | raw}}></md-datepicker>
        </div>
    {% else %}
        <md-input-container class="fld-{{fldName}}"{{flex | raw}}>
            <label class="{{fldName}}">{{o.label}}</label>
            <input name="{{fldName}}" id="{{fldName}}" date-format="{{dateFormat}}"
                ng-model="{{modelName}}"{{readonly | raw }}>
        </md-input-container>
    {% endif %}

{% endmacro %}

{# ------------------ barcode ------------------ #}
{% macro barcode(modelName, label, opts = {}) %}
    {% set editable = cpView == 'detail' ? false : true %}

    {# if modelName = "row.media.displayTitle"  then it returns displayTitle (last index) #}
    {% set fldName = modelName | split('.') | slice(-1)[0] %}
    {% set labelX = fldName | humanize | title %}

    {# if no label is passed then the second param is assumed as opts param #}
    {% if label is iterable %}
        {% set opts = label %}
    {% elseif label %}
        {% set labelX = label %}
    {% endif %}

    {% set o = {
        label: labelX,
        flex: 70,
        editable: editable,
        barcodeName: '',
       } | merge(opts)
    %}

    {% set readonly = not o.editable ? " ng-readonly='true'" : "" %}
    {% set flex = o.flex != '' ? " flex='" ~ o.flex ~ "'" : "" %}
    {% set src = '/barcode/' ~ o.barcodeName ~ '/{{' ~ modelName ~ '}}' %}

    <div class="barcode-container">
        <label>{{o.label}}</label>
        <div class="barcode">
            <img ng-src="{{src}}">
        </div>
    </div>
{% endmacro %}

{# ------------------ fldsInRow ------------------ #}
{% macro fldsInRow(flds, opts = {}) %}
    <md-content class="flds-row pl0" layout="row">
    {% for fld in flds %}
        {{fld | raw}}
    {% endfor %}
    </md-content>
{% endmacro %}

{# ------------------ fldsContainer ------------------ #}
{% macro fldsContainer(title, flds, opts = {}) %}
    <flds-group-header title="{{title}}"></flds-group-header>
    <md-content class="flds-container" layout="column">
    {% for fld in flds %}
        {{fld | raw}}
    {% endfor %}
    </md-content>
{% endmacro %}

{# ------------------ fldsOtherDetails ------------------ #}
{% macro fldsOtherDetails(title, flds, opts = {}) %}
    {% import _self as fo %}

    {{ fo.fldsContainer("Other Details", [
        fo.date('row.creationDate', {editable: false, hasTime: true}),
        fo.date('row.modificationDate', {editable: false, hasTime: true}),
        fo.input('row.userCreated.fullName', {label: 'User Created', editable: false}),
        fo.input('row.userModified.fullName', {label: 'User Modified', editable: false})
    ])}}
{% endmacro %}
