<!-- link list -->
{% block list_body %}

{% import 'form-obj.html.twig' as fo %}

<div class="cp-link-container">

    {# New thread #}
    <md-card style="background-color: #EBEBEF;">
        <md-card-title>
            <md-card-title-media>
                <div class="card-media" style="margin-right: 10px;">
                    <img style="width: 70px; height: 70px; border-radius: 50%;"
                        ng-src="{% verbatim %}
                            /media/normal/{{currentUser.avatarUrl}}
                        {% endverbatim %}
                    ">
                    <div style="text-align: center">
                        <div ng-bind='currentUser.firstName'></div>
                        <div ng-bind='currentUser.lastName'></div>
                    </div>

                </div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ fo.input('rowLnk.subject') }}</span>
                <span class="md-subhead">{{ fo.textarea('rowLnk.message') }}</span>
            </md-card-title-text>
        </md-card-title>
        <div layout="row" layout-align="end center">
            <div layout>
                <div ng-repeat="user in recipients" style="margin: 8px; text-align: center">
                    <div style="width: 20px; height: 20px; background-color: gray; border-radius: 50%;"></div>
                    <div ng-bind="user.firstName"></div>
                </div>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="addRecipients()" style="background-color: white;">+ Recipients</md-button>
                <md-button ng-click="newMessage()" style="background-color: white;">Send</md-button>
            </md-card-actions>
        </div>
    </md-card>

    {# Threads list #}
    <md-card dir-paginate="thread in links.{{cpLink}}Lnk | itemsPerPage: cfg.linkListRowsLimit"
         style="background-color: #EFF1F5;">
        <md-card-title>
            <md-card-title-media>
                <div class="card-media" style="margin-right: 10px;">
                    <div style="text-align: center">
                        <img style="width: 70px; height: 70px; border-radius: 50%;"
                            ng-src="{% verbatim %}
                                /media/normal/{{thread.userCreated.$$data.mediaHistory[0].media.fileName}}
                            {% endverbatim %}
                        ">
                        <div style="text-align: center">
                            <div ng-bind='thread.userCreated.firstName'></div>
                            <div ng-bind='thread.userCreated.lastName'></div>
                        </div>
                    </div>
                </div>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline" ng-bind="thread.subject"></span>
                <div ng-bind="thread.message"></div>
            </md-card-title-text>
        </md-card-title>
        <div layout>
            <div flex="25" style="padding: 15px; color: gray;"
                     ng-bind="thread.creationDate|date:'yyyy/MM/dd hh:mma'"></div>
            <div layout flex layout-align="end">
                <div layout>
                    <div ng-repeat="user in recipients" style="margin: 8px; text-align: center">
                        <div style="width: 20px; height: 20px; background-color: gray; border-radius: 50%;"></div>
                        <div ng-bind="user.firstName"></div>
                    </div>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="addRecipients()" style="background-color: white;">+ Recipients</md-button>
                </md-card-actions>
            </div>
        </div>
    </md-card>

    <dir-pagination-controls id="pagination-link" layout="row" max-size="5"
        template-url="dirPaginationLink.tpl.html"></dir-pagination-controls>

</div>
{% endblock %}
