<!-- link edit -->
<md-dialog aria-label="Contact Edit Form" class="link-edit-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{cpBundleName}} Edit Form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/others/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            {% block edit_body %}
            {% endblock %} {# edit_body #}
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" style="margin-right:20px;">
            Cancel
        </md-button>
        <md-button ng-click="save()">
           Save
        </md-button>
    </md-dialog-actions>
</md-dialog>