{% import 'form-obj.html.twig' as fo %}

<!-- link edit -->
<md-dialog aria-label="Row Edit Form" class="" flex="35">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Row Edit Form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="uuis.cancelDialog()">
                <md-icon md-svg-src="img/icons/others/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            {{ fo.input('rowName', 'Row Title') }}
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="deleteRow()" style="margin-left:-8px;">
            <md-icon md-svg-src="img/icons/actBtns/delete.svg" aria-label="Delete"></md-icon>
            Delete
        </md-button>
        <span flex></span>
        <md-button ng-click="uuis.cancelDialog()">
            <md-icon md-svg-src="img/icons/actBtns/cancel.svg" aria-label="Cancel"></md-icon>
            Cancel
        </md-button>
        <md-button ng-click="saveRow()">
            <md-icon md-svg-src="img/icons/actBtns/save.svg" aria-label="Save"></md-icon>
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>