{% extends 'tpl/edit-link.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block edit_body %}
    {{ fo.input('rowLnk.name') }}
    {{ fo.input('rowLnk.phone') }}
    {{ fo.input('rowLnk.email') }}
    {{ fo.input('rowLnk.fax') }}
    {{ fo.input('rowLnk.address') }}
    {{ fo.input('rowLnk.city') }}
    {{ fo.input('rowLnk.state') }}
    {{ fo.input('rowLnk.zip') }}
    {{ fo.input('rowLnk.country') }}
{% endblock %} {# edit_body #}
