{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.orderDetails') }}
{{ fo.input('row.quote.code') }}
{{ fo.input('row.Enquiry.code', 'Enquiry Code') }}
{{ fo.input('row.clientOrderRef') }}
{{ fo.input('row.portOfDelivery') }}
{{ fo.date('row.orderDate') }}

{{ fo.fldsOtherDetails()}}