<!DOCTYPE html>
<html>
    <head>
        <base href="{{ path('home') }}" />
        <meta charset="UTF-8" />
        <title>{% block title %}Libra System{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400'
              rel='stylesheet' type='text/css'>

        <!-- Include Jquery in the vendor folder -->
        <script src="../js/vendors-main/jquery/dist/jquery.min.js"></script>

        <!-- Include css files -->
        <link rel="stylesheet" href="../css/vendors.css">
        <link rel="stylesheet" href="../css/app.css">
    </head>
    <body class="b-auth-login">

    <div class="page-wrapper nav-style--alternative">
        <div class="logo"><img src="../img/logo.png" alt="" class="img10_120"></div>
        <div class="container">
            <div class="form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <form class="form-horizontal" method="post" id="frmLogin" action="{{ path('auth_login_check') }}">
                        <fieldset layout='column'>
                            <div class="form-group">
                              <md-input-container md-no-float>
                                <label>
                                    <md-icon md-svg-src="../img/icons/others/ic_person_24px.svg"></md-icon>
                                    Your username
                                </label>
                                <input name="_username"  required="">
                              </md-input-container>
                            </div>
                            <div class="form-group">
                              <md-input-container class="md-primary" md-no-float>
                                <label>
                                    <md-icon md-svg-src="../img/icons/others/ic_lock_24px.svg"></md-icon>
                                    Your password
                                </label>
                                <input type="password" name="_password" required='' autocomplete="off">
                              </md-input-container>
                            </div>
                            <div class="form-group">
                                <md-input-container class="md-primary" md-no-float>
                                    <md-checkbox class='md-checkbox' ng-model="isChecked" aria-label="Finished?">
                                        Remember me
                                    </md-checkbox>
                                </md-input-container>
                            </div>

                            <div class="form-group">
                                <md-button type="submit"
                                    class="md-primary md-raised">Sign in</md-button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <!-- dependencies -->
    <script src="../js/vendors.js"></script>
    <script src="../js/app.js"></script>
    </body>
</html>