{% extends "::base.html.twig" %}
{% block body %}
    {% verbatim %}
    <div class="page-wrapper md-whiteframe-5dp nav-style--alternative">
        <div class="no-print">
            <aside id="nav-container" class="ng-scope">
                <div id="nav-wrapper" class="md-whiteframe-z1">
                    <ul id="nav"
                        data-ng-controller="SideNavigationController"
                        data-slim-scroll
                        data-collapse-nav>
                        <li class="navigation-profile-picture">
                            <a href="#">
                                <img src="../img/logo.png" alt="" class="img64_64 img-circle">
                            </a>
                        </li>
                        <li>
                            <a md-ink-ripple="#bbb" ui-sref="dashboard">
                                <md-icon md-svg-src="/img/icons/nav/home.svg"></md-icon>
                                <span class="navigation-group">Dashboard</span>
                            </a>
                        </li>
                        <li ng-cloak ng-repeat="topRoom in topRooms"
                            ng-class="{'active': (topRoom | menuTopRoomIsActive)}">
                            <a md-ink-ripple="#bbb" ui-sref="{{ topRoom.rooms[0].stateName }}">
                                <md-icon md-svg-src="/img/icons/nav/{{ topRoom.icon }}"></md-icon>
                                <span class="navigation-group">{{ topRoom.title }}</span>
                            </a>
                            <ul>
                                <li ng-repeat="room in topRoom.rooms"
                                    ng-class="{active:$state.includes(room.stateName.split('.')[0])}">
                                    <a md-ink-ripple="#bbb" ui-sref="{{room.stateName}}">{{ room.title }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    {% endverbatim %}

    <div class="view-container">
        {% include 'AppBundle:navigation:top.html.twig' %}

        <section flex="" ui-view="" id="content" class="animate-fade-up">
            <div layout="row" class="page-loading">
                <h2 flex>
                   Libra App is loading...
                   <img src="/img/icons/others/ajax-loader.gif">
                </h2>
            </div>
        </section>
    </div>

    <script type="text/ng-template" id="dirPagination.tpl.html">
        {% include 'AppBundle:paginator:dirPagination.html.twig' %}
    </script>

    <script type="text/ng-template" id="dirPaginationLink.tpl.html">
        {% include 'AppBundle:paginator:dirPaginationLink.html.twig' %}
    </script>
</div>
{% endblock %}