{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.input('row.firstName', {flex: 15, focus: true}) }}
    {{ fo.input('row.lastName', {flex: 15}) }}
    {{ fo.input('row.email', {flex: 25}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'UserBundle:User:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
