<div class="page">
    {% verbatim %}
    <md-toolbar class="cp-room-title">
        <div class="md-toolbar-tools">
            <md-icon class="md-primary"
                md-svg-src="../img/icons/bundles/{{ cfg.icon }}"></md-icon>
            <span><b>{{ cfg.title }}</b></span>
            <span flex></span>
        </div>
    </md-toolbar>
    {% endverbatim %}

    <md-content class="md-content__body">
        <div class="search-header" layout="row">
            <div class="cp-back-to-list">
            {% block back_to_list %}
                {% verbatim %}
                    <a ui-sref="{{ns.getListState()}}"
                        ng-hide="currView != 'detail'">
                        <md-icon class="md-primary mdicon-rotate-180"
                            md-svg-src="../img/icons/others/ic_keyboard_backspace_48px.svg"></md-icon>
                    </a>
                {% endverbatim %}
            {% endblock %} {# back_to_list #}
            </div>

            {% verbatim %}
            <div class="cp-act-btns">
                <md-button class="md-raised md-{{actBtn.palette}} md-hue-2"
                    ng-repeat="actBtn in cfg.actBtns | filter:{view: currView} "
                    ng-href="{{ actBtn.getHref($state.params) }}"
                    ng-click="callFn(actBtn.callback, $event)">
                        <md-icon class="md-primary"
                            md-svg-src="../img/icons/actBtns/{{ actBtn.icon }}"></md-icon>
                             {{ actBtn.title }}
                </md-button>
            </div>
            {% endverbatim %}
        </div>

        <md-content class="cp-detail-body">
            {% block detail_body %}
                {% block notify_area %}
                {% endblock %} {# notify_area #}
                {% block key_details %}
                    <div layout-padding layout="row" class="md-whiteframe-z1 key-details-top">
                        {% block key_details_body %}
                            <p>Sample key details text to go here :) </p>
                        {% endblock %} {# key_details_body #}
                    </div>
                {% endblock %} {# key_details #}

                <md-content layout="row" class="detail-content">
                    {% block detail_content %}
                        {% set currLink = '{{currLink}}' %}
                        <div layout-padding class="tab-container" flex>
                            <div layout-padding ui-view="" class="tab-content {{currLink}}" layout="column">
                            {% block tab_content %}
                            {% endblock %} {# tab_content #}
                            </div>
                        </div>

                        {% block link_tabs %}
                        {% verbatim %}
                            <md-list class="md-whiteframe-z1 link-tabs" flex="20">
                                <md-list-item md-ink-ripple class="md-1-line" layout="row"
                                    ng-class="{disabled: !$state.get(tab.getDefaultStateName()) }"
                                    ng-attr-title="{{ tab.getHoverMessage($state) }}"
                                    ui-sref-active="current"
                                    ng-repeat="tab in cfg.tabs">
                                    <md-icon class="md-primary"
                                        md-svg-src="../img/icons/links/{{ tab.icon }}"></md-icon>
                                        <a flex ui-sref="{{ tab.getDefaultStateName() }}">{{ tab.title }}</a>
                                </md-list-item>
                            </md-list>
                        {% endverbatim %}
                        {% endblock %} {# link_tabs #}
                    {% endblock %} {# detail_content #}
                </md-content>

            {% endblock %} {# detail_body #}
        </md-content>
    </md-content>
</div>

