{% block act_btns %}
    <div class="cp-act-btns-media" layout="row">
        <div flex>
        <input type="file" class="hidden" id="{{cpLink}}Uploader" nv-file-select
            multiple="true" uploader="{{cpLink}}Uploader">
        <label for="{{cpLink}}Uploader" class="md-button md-accent"
            ng-show="currLinkObj.hasNew && currView == 'edit'">

            <md-icon class="md-primary"
                md-svg-src="img/icons/actBtns/links/new.svg"></md-icon> Choose File
        </label>
        </div>
        <div flex></div>

        <md-button class="md-accent"
            ng-click="{{cpLink}}Uploader.uploadAll()"
            ng-disabled="!{{cpLink}}Uploader.getNotUploadedItems().length"
            ng-show="{{cpLink}}Uploader.queue.length > 0 && !{{cpLink}}Uploader.isUploading">
            <md-icon class="md-primary" md-svg-src="img/icons/others/upload.svg"></md-icon>
                 Upload All
        </md-button>

        <md-button class="md-accent"
            ng-click="{{cpLink}}Uploader.clearQueue()"
            ng-disabled="!{{cpLink}}Uploader.queue.length"
            ng-show="{{cpLink}}Uploader.queue.length > 0 && !{{cpLink}}Uploader.isUploading">
            <md-icon class="md-primary" md-svg-src="img/icons/others/remove.svg"></md-icon>
                 Remove All
        </md-button>

        <md-button class="md-accent"
            ng-click="{{cpLink}}Uploader.cancelAll()"
            ng-disabled="!{{cpLink}}Uploader.isUploading"
            ng-show="{{cpLink}}Uploader.isUploading">
            <md-icon class="md-primary" md-svg-src="img/icons/others/stop.svg"></md-icon>
                 Cancel Upload
        </md-button>
    </div>

    <div nv-file-drop="" uploader="{{cpLink}}Uploader"
        ng-show="currLinkObj.hasNew && currView == 'edit'">
        <div nv-file-over="" uploader="{{cpLink}}Uploader" class="drop-box">
            Drag and drop files here
        </div>
    </div>

    <div class="file-upload-queue" ng-show="{{cpLink}}Uploader.queue.length > 0">
        <md-list>
            <b>Selected files for upload</b>
            <md-list-item ng-repeat="item in {{cpLink}}Uploader.queue" class="md-2-line">
                <div class="thumb-img" ng-thumb="{ file: item._file, width: 90 }"></div>
                {% verbatim %}
                <div class="md-list-item-text">
                    <h3>{{ item.file.name }}</h3>
                    <p>{{ item.file.size/1024/1024|number:2 }} MB</h3>
                </div>
                {% endverbatim %}
            </md-list-item>
        </md-list>

        {% set uploaderProgress = "{{" ~ cpLink ~ "Uploader.progress}}" %}
        <md-progress-linear md-mode="determinate" value="{{uploaderProgress}}"></md-progress-linear>
    </div>
{% endblock %} {# act_btns #}