<!-- link list -->
{% block list_body %}
<div class="cp-link-container">
    {% include 'tpl/list-link-media-action-panel.html.twig' %}
    <md-content class="cp-media-image">
    <md-list>
        <md-list-item class="md-3-line"
            dir-paginate="rowLink in links.{{cpLink}}Lnk | itemsPerPage: cfg.linkListRowsLimit">

            {% set hrefEdit      = "{{ns.getEditLinkUrl(row.id, rowLink.id)}}" %}
            {% set imgSrc        = "{{ms.getMediaThumbSrc(rowLink)}}" %}
            {% set mediaName     = "{{rowLink.name}}" %}
            {% set displayTitle  = "{{rowLink.media.displayTitle}}" %}
            {% set creationDate  = "{{utl.formatDate(rowLink.media.creationDate)}}" %}
            {% set mediaSize     = "{{ms.formatFileSize(rowLink.media.mediaSize)}}" %}
            {% set lightBoxClick = "ms.openLightboxModal($index, links." ~ cpLink ~ "Lnk)" %}

            <a ng-click="{{lightBoxClick | raw}}">
                <img ng-src="{{imgSrc | raw}}"
                    class="thumb-img md-avatar" alt="{{mediaName | raw}}">
            </a>
            <div class="md-list-item-text">
                <h3><a class="pointer" ng-click="{{lightBoxClick | raw}}">{{displayTitle | raw}}</a></h3>
                <h4>{{creationDate | raw}}</h4>
                <h5>{{mediaSize | raw}}</h5>

                <a ng-href="{{hrefEdit | raw}}">
                    <md-icon class="md-secondary first"
                        md-svg-src="img/icons/actBtns/links/edit.svg"></md-icon>
                </a>

                <md-icon class="md-secondary"
                    ng-click="dbu.deleteLinkRecord($event, row, rowLink, '{{cpLink}}')"
                    md-svg-src="../img/icons/actBtns/links/delete.svg"></md-icon>
            </div>
            <md-divider md-inset ng-hide="$last"></md-divider>
        </md-list-item>
    </md-list>
    </md-content>

    <dir-pagination-controls id="pagination-link" layout="row" max-size="5"
        template-url="dirPaginationLink.tpl.html"></dir-pagination-controls>
</div>
{% endblock %} {# list_body #}

