{% import 'util.html.twig' as utl %}

<!-- link list -->
{% block list_body %}

{% set ngRepeatText = "rowLink in links." ~ cpLink ~ "Lnk" %}

<div class="cp-link-container">
    {% block act_btns %}
        <div class="cp-act-btns-link">
            {% set hrefNew = "{{ ns.getNewLinkUrl(row.id) }}" %}
            <md-button class="md-accent"
                ng-show="currLinkObj.hasNew && currView == 'edit'"
                 ng-href="{{ hrefNew | raw }}">
                <md-icon class="md-primary"
                    md-svg-src="img/icons/actBtns/links/new.svg"></md-icon>
                     New
            </md-button>
        </div>
    {% endblock %} {# act_btns #}

    <md-table-container>
        <table md-table md-progress="promise" class="table-striped">
            <thead md-head>
                <tr md-row>
                    <th md-column ng-repeat="fld in currLinkObj.fields"
                        ng-class="lus.getWidthClass(fld)">
                        {% verbatim %}{{ fld.title }}{% endverbatim %}
                    </th>
                    <th md-column ng-show="currLinkObj.hasEdit && currView == 'edit'"></th>
                    <th md-column ng-show="currLinkObj.hasDelete && currView == 'edit'"></th>
                </tr>
            </thead>

            <tbody md-body>
                <tr md-row ng-repeat="{{ngRepeatText}}">
                    <td md-cell ng-repeat="fld in currLinkObj.fields"
                        bind-html-compile="lus.getFieldValLink(rowLink, fld)"
                        ng-click="!fld.editable || (!fld.isText || lus.editText($event, rowLink, fld.name))"
                        ng-class="md-placeholder"
                        ng-class="lus.getWidthClass(fld)">
                    </td>

                    {% set hrefEdit = "{{ ns.getEditLinkUrl(row.id, rowLink.id) }}" %}
                    <td md-cell ng-show="currLinkObj.hasEdit && currView == 'edit'"
                        class="icon-edit">
                        <a ng-href="{{ hrefEdit | raw }}">
                            <div class="text-center">
                                <md-icon class="md-primary"
                                    md-svg-src="img/icons/actBtns/links/edit.svg"></md-icon>
                            </div>
                        </a>
                    </td>
                    <td md-cell ng-show="currLinkObj.hasDelete && currView == 'edit'"
                        class="icon-delete">
                        <a class="pointer"
                           ng-click="dbu.deleteLinkRecord($event, row, rowLink, '{{cpLink}}')">
                            <div class="text-center">
                                <md-icon class="md-primary"
                                    md-svg-src="../img/icons/actBtns/links/delete.svg"></md-icon>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit"
        md-limit-options="[5, 10, 15]"
        md-page="query.page"
        md-total="{% verbatim %}{{desserts.count}}{% endverbatim %}"
        md-on-paginate="getDesserts" md-page-select>
    </md-table-pagination>
</div>

{# <ng-include src="'select.html'"></ng-include> #}

{% endblock %} {# list_body #}


<script type="text/ng-template" id="select.html">
    <md-select ng-model="rowLink.type" placeholder="Other">
        <md-option ng-value="type"
            ng-repeat="type in ['aaa', 'bbb', 'ccc', 'ddd']"
            ng-bind-html="type"></md-option>
    </md-select>
</script>

