<div class="page">
    {% verbatim %}
    <md-toolbar md-scroll-shrink class="cp-room-title">
        <div class="md-toolbar-tools">
            <md-icon class="md-primary"
                md-svg-src="../img/icons/bundles/{{ cfg.icon }}"></md-icon>
            <span><b>{{ cfg.title }}</b></span>
            <span flex></span>
            <dir-pagination-controls layout="row" max-size="5" template-url="dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </md-toolbar>
    {% endverbatim %}

    <md-content class="md-content__body">
        {% verbatim %}
        <div class="search-header" layout="row">
            <md-input-container class="search-box">
              <label>Search {{ cfg.title | lowercase }}...</label>
              <input ng-model="search.$">
            </md-input-container>

            <div class="cp-act-btns">
                    <md-button class="md-raised md-accent md-hue-2"
                        ng-repeat="actBtn in cfg.actBtns | filter:{view: 'list'}"
                        ng-href="{{ actBtn.getHref($state.params) }}"
                        ng-click="callFn(actBtn.callback, $event)">
                        <md-icon class="md-primary"
                            md-svg-src="../img/icons/actBtns/{{ actBtn.icon }}"></md-icon>
                             {{ actBtn.title }}
                    </md-button>
            </div>
        </div>
        {% endverbatim %}

        {% block list_body %}
        {% verbatim %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th ng-repeat="fld in listObj.fldsArr" class="{{fld.class}}"
                            ng-class="lus.getWidthClass(fld)">
                            <a href="" ng-click="lus.sortList(fld.orderBy)">{{ fld.title }}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="row in rows | filter:search:strict | orderBy:predicate:reverse | itemsPerPage: cfg.listRowsLimit">
                        <td class="icon-edit">
                            <a ng-href="{{ ns.getEditUrl(row.id) }}">
                                <div class="text-center">
                                    <md-icon class="md-primary"
                                        md-svg-src="../img/icons/others/ic_mode_edit_24px.svg"></md-icon>
                                </div>
                            </a>
                        </td>
                        <td class="icon-flag">
                            <a ng-click="lus.flag(row)">
                                <div class="text-center">
                                    <md-icon ng-class="{'md-primary': row.flag, 'grey': !row.flag}"
                                        md-svg-src="../img/icons/others/ic_flag_24px.svg"></md-icon>
                                </div>
                            </a>
                        </td>

                        <td ng-repeat="fld in listObj.fldsArr" ng-bind-html="lus.getFieldVal(row, fld)"
                            style="width: {{fld.width}};" class="{{fld.class}}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endverbatim %}
        {% endblock %} {# list_body #}
    </md-content>
</div>

