<!-- link list -->
{% block list_body %}
<div class="cp-link-container">
    {% include 'tpl/list-link-media-action-panel.html.twig' %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="fld in currLinkObj.fields"><a href=""
                        ng-click="lus.sortList(fld.orderBy)">{% verbatim %}{{ fld.title }}{% endverbatim %}</a></th>
                    <th ng-show="currLinkObj.hasEdit && currView == 'edit'"></th>
                    <th ng-show="currLinkObj.hasDelete && currView == 'edit'"></th>
                </tr>
            </thead>

            <tbody>
                <tr dir-paginate="rowLink in links.{{cpLink}}Lnk | itemsPerPage: cfg.linkListRowsLimit">
                    <td ng-repeat="fld in currLinkObj.fields" ng-bind-html="lus.getFieldValLink(rowLink, fld)"></td>

                    {% set hrefEdit = "{{ ns.getEditLinkUrl(row.id, rowLink.id) }}" %}
                    <td ng-show="currLinkObj.hasEdit && currView == 'edit'"
                        class="icon-edit">
                        <a ng-href="{{ hrefEdit | raw }}">
                            <div class="text-center">
                                <md-icon class="md-primary"
                                    md-svg-src="img/icons/actBtns/links/edit.svg"></md-icon>
                            </div>
                        </a>
                    </td>
                    <td ng-show="currLinkObj.hasDelete && currView == 'edit'"
                        class="icon-delete">
                        <a class="pointer"
                           ng-click="dbu.deleteLinkRecord($event, row, rowLink, '{{cpLink}}')">
                            <div class="text-center">
                                <md-icon class="md-primary"
                                    md-svg-src="../img/icons/actBtns/links/delete.svg"></md-icon>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <dir-pagination-controls id="pagination-link" layout="row" max-size="5"
            template-url="dirPaginationLink.tpl.html"></dir-pagination-controls>
    </div>
</div>
{% endblock %} {# list_body #}

