{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', {flex:15, focus: true}) }}
{{ fo.input('row.title', {flex:30}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ColorMasterBundle:ColorMaster:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
