{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.title', {focus: true}) }}
{{ fo.input('row.description') }}
{{ fo.input('row.status') }}
{{ fo.input('row.entertainClaim') }}

{{ fo.fldsOtherDetails()}}