{% extends 'tpl/edit-link.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block edit_body %}
    {{ fo.input('rowLnk.code') }}
    {{ fo.input('rowLnk.firstName', {focus: true}) }}
    {{ fo.input('rowLnk.lastName') }}
    {{ fo.input('rowLnk.phone') }}
    {{ fo.input('rowLnk.email') }}

    {{ fo.input('rowLnk.position') }}
    {{ fo.input('rowLnk.address') }}
    {{ fo.input('rowLnk.city') }}
    {{ fo.input('rowLnk.state') }}
    {{ fo.input('rowLnk.zip') }}
    {{ fo.input('rowLnk.country') }}
    {{ fo.input('rowLnk.fax') }}
{% endblock %} {# edit_body #}
