{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.purchaseOrder.code', 'P/O Code', {flex:10}) }}
{{ fo.input('row.code', 'V. Invoice Code', {flex:10}) }}
{{ fo.input('row.supplier.code', 'Supplier Code', {flex:10}) }}
{{ fo.input('row.supplier.name', 'Supplier Name', {flex:30}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'AccountsPayableBundle:AccountsPayable:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
