{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.part', {flex:25, focus: true}) }}
{{ fo.input('row.compliance', {flex:30}) }}
{{ fo.input('row.requiredValue', {flex:30}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'MasterComplianceBundle:MasterCompliance:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
