{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.note', '', {flex:15}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'NoteBundle:Note:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
