<div ng-controller="DashboardController" layout="row" class="dashboard-container">
    <div flex>
        <div layout="row" class="search">
            <md-input-container flex class="code">
                <label>Focus Code</label>
                <input ng-model="code">
            </md-input-container>

            <md-input-container flex="30" class="focus">
                <label>What to Focus</label>
                <md-select ng-model="focusType">
                    <md-option ng-repeat="value in focusTypeArr"
                        ng-selected=""
                        ng-value="value"> {% verbatim %}{{value}}{% endverbatim %}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" class="navs">
            <md-button class="md-raised md-primary">
                <md-icon md-svg-src="../img/icons/dashboard/process.svg"></md-icon>
                <span>PROCESS ORIENTATION</span>
            </md-button>

            <md-button class="md-raised md-primary">
                <md-icon md-svg-src="../img/icons/dashboard/checklist.svg"></md-icon>
                <span>CHECKLISTS</span>
            </md-button>

            <md-button class="md-raised md-primary">
                <md-icon md-svg-src="../img/icons/dashboard/task.svg"></md-icon>
                <span>TASKS</span>
            </md-button>

            <md-button class="md-raised md-primary">
                <md-icon md-svg-src="../img/icons/dashboard/communication.svg"></md-icon>
                <span>COMMUNICATIONS</span>
            </md-button>
        </div>
    </div>
</div>
