{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.enquiry.code', {
    label: 'Enquiry Code',
    hasDetailLink: true,
    editable: false,
    linkBundle: 'enquiry',
    linkId: 'enquiry.id'
}) }}
{{ fo.date('row.sampleReadyDate') }}
{{ fo.fldsInRow([
    fo.input('row.requestedQty', {flex:25}),
    fo.input('row.weight', {label: 'Weight (kgs)', flex:25}),
    fo.input('row.capacity', {flex:25})
]) }}
{{ fo.fldsInRow([
    fo.input('row.dimLength', {flex:25}),
    fo.input('row.dimWidth', {flex:25}),
    fo.input('row.dimHeight', {flex:25})
]) }}
{{ fo.fldsOtherDetails()}}