{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.salesDeliveryTerms') }}
{{ fo.input('row.portOfDelivery') }}
{{ fo.input('row.shippingMedium') }}
{{ fo.input('row.offerValidity') }}
{{ fo.input('row.salesPaymentTerms') }}
{{ fo.input('row.leadTime') }}
{{ fo.date('row.quotationDate') }}

{{ fo.fldsOtherDetails()}}

