{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.deliveryTerms') }}
{{ fo.input('row.paymentTerms') }}
{{ fo.input('row.specification') }}
{{ fo.input('row.shippingMedium') }}
{{ fo.input('row.portOfDelivery') }}
{{ fo.input('row.finalDestination') }}
{{ fo.input('row.requiredDeliveryDate') }}
{{ fo.input('row.warrantyAndClaims') }}
{{ fo.input('row.notes') }}
{{ fo.input('row.status') }}

{{ fo.fldsOtherDetails()}}