{% import 'form-obj.html.twig' as fo %}

{{ fo.select('row.colorCode', {valuelist: 'vls.colorMaster', hasKeyVal:  true, valueFld: 'code'}) }}

{{ fo.input('row.measurement', 'Specific Measurement') }}
{{ fo.autocompleteDb('row.company.name', 'Supplier',
    {entity: 'company', dispValue: 'name'})
}}
{{ fo.switch('row.approved') }}
{{ fo.autocompleteDb('row.partsLocation.detail', 'Parts Location',
    {entity: 'partsLocation', dispValue: 'detail'})
}}
{{ fo.barcode('row.barcode', {'barcodeName': 'approvedMaterial'}) }}

{{ fo.fldsOtherDetails()}}

