<div class="page page-general ng-scope">
    
    <div class="row">
        <div class="col-sm-4">
            <md-card class="md-default-theme form-card">
                <md-card-content>
                    <div class="companyDetails">
                        <md-toolbar md-scroll-shrink>
                            <div class="md-toolbar-tools">
                                <h2>Main Details</h2>
                            </div>
                        </md-toolbar>

                        <form role="form">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <span type="text" ng-model="setting.keyText" class="form-control" id="key" >{% verbatim %}{{ setting.keyText }}{% endverbatim %}</span>
                            </div>
                            <div class="form-group">
                                <label for="value">Value</label>
                                <span type="text" ng-model="setting.value" class="form-control" id="value" >{% verbatim %}{{ setting.value }}{% endverbatim %}</span>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <span type="text" ng-model="setting.description" class="form-control" id="description" >{% verbatim %}{{ setting.description }}{% endverbatim %}</span> 
                            </div>
                        </form>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        
        <div class="col-sm-8">
            <button class="btn-width-medium md-raised md-primary md-button md-default-theme" ng-click="save()">Save</button>
        </div>
        
    </div>


</div>