<div class="page">
    <section class="md-content-section">
        <md-toolbar md-scroll-shrink class="md-accent md-default-theme">
            <div class="md-toolbar-tools">
                <span>Settings</span>
                <dir-pagination-controls max-size="5" template-url="dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </md-toolbar>

        <md-content class="md-default-theme">
            <div class="md-content__body">
                <div class="row search-header">
                    <form class="col-md-10">
                        <md-input-container flex>
                          <label>Search setting...</label>
                          <input ng-model="search.$" placeholder="type setting key, value or description">
                        </md-input-container>
                    </form>

                    <div class="col-md-2">
                        <a href="#{% verbatim %}{{ 'setting_edit' | route:{id: '' } }}{% endverbatim %}" class="btn-width-medium md-raised md-primary md-button md-default-theme">New</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th><a href="" ng-click="order('keyText')">Key</a></th>
                                <th><a href="" ng-click="order('value')">Value</a></th>
                                <th><a href="" ng-click="order('description')">Description</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="setting in settings | filter:search:strict | orderBy:predicate:reverse | itemsPerPage: 10">
                                <td>
                                    <a ng-href="#{% verbatim %}{{ 'setting_edit' | route:{id: setting.id } }}{% endverbatim %}">
                                        <div class="text-center"><md-icon class="md-primary" md-svg-src="../img/icons/other/ic_mode_edit_24px.svg"></md-icon></div>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="flag(setting)">
                                        <div class="text-center"><md-icon ng-class="{'md-primary': setting.flag, 'grey': !setting.flag}" md-svg-src="../img/icons/ic_flag_24px.svg"></md-icon></div>
                                    </a>
                                </td>
                                <td>{% verbatim %}<a ng-click="toggleQuickDetails(setting)">{{ setting.keyText }}</a>{% endverbatim %}</td>
                                <td>{% verbatim %}{{ setting.value }}{% endverbatim %}</td>
                                <td>{% verbatim %}{{ setting.description }}{% endverbatim %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </md-content>
    </section>
</div>

{% include 'SettingBundle:Setting:preview.html.twig' %}