{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.select('row.productFamilyCode', {
        label: 'Product Family',
        flex: 15,
        valuelist: 'vls.productFamily',
        valueFld: 'productFamilyCode',
        displayFld: 'productFamily',
        callbackOnChange: "getProductTypes",
        modelNameReadOnly: "row.productFamily",
        hasKeyVal: true,
        focus: true,
    }) }}
    {{ fo.select('row.productTypeCode', {
        flex: 15,
        valuelist: 'vls.productType',
        valueFld: 'productTypeCode',
        displayFld: 'productType',
        modelNameReadOnly: "row.productType",
        hasKeyVal: true,
    }) }}
    {{ fo.input('row.productName', {flex:20}) }}
    {{ fo.input('row.artNo', {flex:10, focus: true}) }}
    {{ fo.select('row.creationSequence', {
        flex: 10,
        valuelist: 'vls.creationSequence',
        valueFld: 'code',
        displayFld: 'displayVal',
        hasKeyVal: true,
    }) }}
    {{ fo.input('row.code', {label: 'Product Code', flex:15, editable: false}) }}

    <md-button class="md-small md-raised mt10"
        ng-click="setProductCode()">
        Set Code
    </md-button>
{% endblock %} {# key_details_body #}

{% block back_to_list %}
    {% if cpView == 'new' %}
        {% verbatim %}
            <md-content ng-show="enquiryId">
                <h3>Create Proto Type for the Enquiry: {{ enquiryRow.code }}</h3>
            </md-content>
        {% endverbatim %}
    {% endif %}
{% endblock %}

{% block tab_content %}
    {% include 'ProtoTypeBundle:ProtoType:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
