{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'Claim Code', {flex:10}) }}
{{ fo.input('row.tradingOrder.code', 'Order Code', {flex:10}) }}
{{ fo.input('row.company.code', 'Client Code', {flex:10}) }}
{{ fo.input('row.company.name', 'Client Name', {flex:30}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ClaimBundle:Claim:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
