{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.input('row.code', 'Code', {flex:10, editable: false}) }}
    {{ fo.input('row.enquiry.code', 'Enquiry Code', {flex:10, editable: false}) }}
    {{ fo.input('row.protoType.code', 'Product Code', {flex:15, editable: false}) }}
    {{ fo.input('row.company.name', 'Company Name', {flex:20, editable: false}) }}
    {{ fo.input('row.researchArea', {flex:40, focus: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ResearchBundle:Research:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
