{% extends 'tpl/edit-link.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block edit_body %}
    {{ fo.input('rowLnk.code', 'Code', {flex:10, editable: false}) }}
    {{ fo.input('rowLnk.enquiry.code', 'Enquiry Code', {flex:10, editable: false}) }}
    {{ fo.input('rowLnk.protoType.code', 'Product Code', {flex:15, editable: false}) }}
    {{ fo.input('rowLnk.company.name', 'Company Name', {flex:20, editable: false}) }}
    {{ fo.input('rowLnk.researchArea', {flex:40, focus: true}) }}
    {{ fo.textarea('rowLnk.description') }}
{% endblock %} {# edit_body #}
