{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'Activity Code', {flex:10}) }}
{{ fo.input('row.title', {flex:60, focus: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ActivityBundle:Activity:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
