<md-content class="template-not-found animate-fade-up" layout="column">
    <h1>Template Not Found</h1>
    <h2>The requested template was not found.</h2>
    <h2>Template Path: {{ templatePath }}</h2>
    <h2>Generated Path: {{ generatedPath }}</h2>
    <md-icon class="md-accent" md-svg-src="../img/icons/others/football110.svg" flex></md-icon>
</md-content>


