<md-content class="work-in-progress animate-fade-up" layout="column">
    <h1>Page: {{cpBundleName}} > {{cpTabName}}</h1>
    <h2>This is page is being in testing. Available in the Next release 1.10</h2>
    <md-icon class="md-accent" md-svg-src="../img/icons/others/worker5.svg" flex></md-icon>
</md-content>


