{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.keyText', {focus: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'TranslationBundle:Translation:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
