{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.description') }}
{{ fo.input('row.measurement') }}
{{ fo.autocompleteDb('row.company.name', 'Supplier',
    {flex: 10, entity: 'company', dispValue: 'name'})
}}
{{ fo.switch('row.approved') }}
{{ fo.autocompleteDb('row.partsLocation.detail', 'Parts Location',
    {entity: 'partsLocation', dispValue: 'detail'})
}}
{{ fo.barcode('row.barcode', {'barcodeName': 'approvedComponent'}) }}

{{ fo.fldsOtherDetails()}}