{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.input('row.part', {flex:25, focus: true}) }}
    {{ fo.input('row.code', {flex:25}) }}
    {{ fo.select('row.category', {flex: 20, valuelist: 'vls.category', valueFld: 'value', hasKeyVal: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ApprovedComponentBundle:ApprovedComponent:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
