{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.input('row.title', {flex:45, focus: true}) }}
    {{ fo.select('row.category', {flex: 30, valuelist: 'vls.category', valueFld: 'value', hasKeyVal: true}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'MasterChecklistBundle:MasterChecklist:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
