{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'Enquiry #', {flex:10, editable: false}) }}

{{ fo.autocompleteDb('row.company.name', 'Company',
    {flex: 30, entity: 'company', dispValue: 'name', hasSubVL: true, subVLEntity: 'contact', focus: true})
}}

{{ fo.selectDb('row.contact.fullName', 'Contact',
    {flex: 20, entity: 'contact', dispValue: 'fullName'})
}}

{{ fo.select('row.status', {flex: 10, valuelist: 'vls.status'}) }}

{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'EnquiryBundle:Enquiry:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
