<div>
    <div ng-hide="editing">
        <div ng-click="switchToEditMode()">{{ valueText }}</div>
    </div>
    <div ng-show="editing">
        <input type="text" on-enter="sendNewValue()"
            ng-blur="switchToNormalMode()" ng-model="newValue">
    </div>
</div>