<div class="flds-group-header">
    <div class="title">
        <h2 class="md-flex">{{title}}</h2>
    </div>
    <div class="hr"><hr></div>
    <div class="arrow">
        <md-icon md-svg-src="../img/icons/others/arrow.svg"></md-icon>
    </div>
</div>