{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.deliveryTerms') }}
{{ fo.input('row.paymentTerms') }}
{{ fo.input('row.shippingMedium') }}
{{ fo.input('row.portOfDelivery') }}
{{ fo.input('row.finalDestination') }}
{{ fo.input('row.requiredDeliveryDate') }}
{{ fo.input('row.warrantyAndClaims') }}
{{ fo.input('row.notes') }}
{{ fo.input('row.vesselName') }}
{{ fo.input('row.voyageNo') }}
{{ fo.input('row.sailingOnDate') }}
{{ fo.input('row.invoiceDate') }}
{{ fo.input('row.portOfLoading') }}
{{ fo.input('row.containerNo') }}
{{ fo.input('row.blNo', 'B/L No') }}
{{ fo.input('row.lcNo', 'L/C No') }}
{{ fo.input('row.clientAddress') }}
{{ fo.input('row.ourBankAccount') }}
{{ fo.input('row.ourBankDetails') }}
{{ fo.input('row.paidDate') }}

{{ fo.fldsOtherDetails()}}