{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.select('row.productFamily', {
        flex: 15,
        valuelist: 'vls.productFamily',
        valueFld: 'value',
        codeFldName: 'productFamilyCode',
        vlCodeFldName: 'code',
        hasKeyVal: true,
        focus: true,
    }) }}
    {{ fo.input('row.productFamilyCode', 'Code', {label:'Code', flex:5, editable: false}) }}
    {{ fo.input('row.productType', {flex:20}) }}
    {{ fo.input('row.productTypeCode', {label: 'Code', flex:10}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'ProductCodingBundle:ProductCoding:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
