{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
<BundleEditFormFieldsKeyDetails>
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include '<BundleName>Bundle:<BundleName>:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
