{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'Quote Code', {flex:10, editable: false}) }}
{{ fo.input('row.enquiry.code', 'Enquiry Code', {flex:10, editable: false}) }}
{{ fo.input('row.company.code', 'Client Code', {flex:10, editable: false}) }}
{{ fo.input('row.company.name', 'Client Name', {flex:30, editable: false}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'QuotationBundle:Quotation:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
