{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.title', 'Role Title', {flex:25, focus: true}) }}
{{ fo.input('row.roleType', {flex:25}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'RoleBundle:Role:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
