<flds-group-header title="Actions" style="width:100%"></flds-group-header>
<md-content class="flds-container" layout="column">
<table width="100%" border="0">
	<tr>
		<th>Room Name</th>
		{% for roomColumn in rooms.columns %}
			<th>{{roomColumn.Field}}</th>
		{% endfor %}
	</tr>
	{% for room in rooms.room %}
	<tr>
		<td>
			<label>{{room.roomName}}</label>
				{% for roomColumn in rooms.columns %}
					{% if attribute(room, roomColumn.Field) %}
						<td align="center">
							<input type='checkbox' name='{{roomColumn.Field}}' id='{{roomColumn.Field}}' ng-model='row.{{roomColumn.Field}}_{{room.roomId}}'/>
						</td>
					{% else %}
						<td align="center">--</td>
					{% endif %}
				{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>	
</md-content>