{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
    {{ fo.input('row.code', 'Company Code', {flex: 10, editable: false}) }}
    {{ fo.input('row.name', 'Company Name', {flex: 25, focus: true}) }}
    {{ fo.select('row.category', {flex: 10, valuelist: 'vls.categories'}) }}
    {{ fo.input('row.phone', 'Phone Main', {flex: 15}) }}
    {{ fo.input('row.email', {flex: 25}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'CompanyBundle:Company:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
