{% import 'form-obj.html.twig' as fo %}

{{ fo.input('row.toAddresses') }}
{{ fo.input('row.fromAddress') }}
{{ fo.input('row.message') }}
{{ fo.input('row.module', 'Linked Module') }}

{{ fo.fldsOtherDetails()}}