<section id="header" class="top-header ng-scope">
<header class="clearfix ng-scope">
    <div class="top-nav">
        <ul class="nav-button pull-right list-unstyled">
            <li class="dropdown text-small nav-profile">
                <a class="dropdown-toggle text-muted" data-toggle="dropdown" aria-expanded="false">
                    <span class="nav-profile__welcome-text">
                        {% if not app.user is null %}
                            <i class="fa fa-angle-down"></i> {{ app.user.getFirstName() }} {{ app.user.getLastName() }}
                        {% endif %}
                    </span>
                </a>

                <div class="dropdown-menu pull-right panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ path('auth_logout') }}">
                                <md-icon class="color-danger" md-svg-src="../img/icons/others/ic_exit_to_app_24px.svg"></md-icon>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</header>
</section>