{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.location', {flex:35, focus: true}) }}
{{ fo.input('row.floor', {flex:10}) }}
{{ fo.input('row.rack', {flex:10}) }}
{{ fo.input('row.rackSection', {flex:15}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'PartsLocationBundle:PartsLocation:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
