{% extends 'tpl/detail.html.twig' %}
{% import 'form-obj.html.twig' as fo %}

{% block key_details_body %}
{{ fo.input('row.code', 'V. Inv. Code', {flex:10}) }}
{{ fo.input('row.tradingOrder.code', 'Order Code', {flex:10}) }}
{{ fo.input('row.supplier.code', 'Supplier Code', {flex:10}) }}
{{ fo.input('row.supplier.name', 'Supplier Name', {flex:30}) }}
{{ fo.input('row.status', {flex:10}) }}
{% endblock %} {# key_details_body #}

{% block tab_content %}
    {% include 'VendorInvoiceBundle:VendorInvoice:tabs/main.html.twig' %}
{% endblock %} {# tab_content #}
